<div class="row text-center">
    <div id="UpdatePanel58">
        <img id="ChartID" src="/LTB/Chart?@MvcApplication.Random100000()" alt="" style="border-width: 0px; height: 300px; width: 550px;"/>
    </div>
</div>