@section SideBar{
    <h3>

        Dimensionering av LTB lager. Konvertering till Bootstrap pågår

    </h3>

}


<div id="ltb2">

    @Html.Partial("_Ltb2")
</div>
<script src="/Scripts/site.js"></script>
<script type="text/javascript">SetCurrentPageOnHeader("Ltb");</script>